<div class="container-fluid" id="app">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title"><i class="icon-paper-sheet"></i>  <%= title %></h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Yogi</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end page-title -->
 

    <!-- START ROW -->
    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">

                    <h4 class="mt-0 header-title">Data <%= title%></h4>
                    
                    <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                        <tr>
                            <th>Tanggal</th>
                            <th>No</th>                  
                            <th>Banyak</th>
                            <th>Harga/pcs</th>
                            <th>Harga Total</th>
                        </tr>
                        </thead>


                        <tbody>
                        <tr v-for="dataResponse in dataResponses" :key="dataResponse.id"> 
                            <td>{{dataResponse.tanggal}}</td>
                            <td><a style="color:#2980b9">{{dataResponse.id}}</a></td>
                            <td>{{dataResponse.jumlah}}</td>
                            <td>{{convertToRupiah(dataResponse.harga)}}</td>
                            <td>{{convertToRupiah(dataResponse.totalHarga)}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- end col -->
    </div> 
    <!-- END ROW -->

</div>


<script>
    const apiUrl = '<%= process.env.URL %>'
     var app = new Vue({
      el: '#app',
      data: {
          dataResponses : {}
      },
      async created() {
        await this.getData()
      },
      methods:{
         getData: async function() {
             try{
                 const res = await axios.post(apiUrl+'barangsisa')
                 this.dataResponses = res.data
                 console.log(this.dataResponses)
             }catch(err){
                 alert("Get data"+' '+err)
             }
         },
         convertToRupiah: function (val) {
             var txtNumber = parseFloat(val)
             var txtString = txtNumber.toString()
             var sisa = txtString.length % 3
             var rupiah = txtString.substr(0, sisa)
             var ribuan = txtString.substr(sisa).match(/\d{3}/g)
             if (ribuan) {
                 var separator = sisa ? ',' : ''
                 rupiah += separator + ribuan.join(',')
             }
             return rupiah
         },
      }
 })    
 </script>


<style>
    body { background-color: #fafafa; }
    .bootstrap-datetimepicker-widget table td.cw {
        color: #007bff;
    }
</style>





    