<div class="container-fluid" id="app">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title"><i class="icon-paper-sheet"></i>  <%= title %></h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Yogi</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end page-title -->

    <div class="row" id="invoices">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="invoice-title">
                                <h4 class="float-right font-16"><strong><%= data.id %></strong></h4>
                                <h3 class="m-t-0">
                                    <img src="/assets/images/logo-dark.png" alt="logo" height="24"/>
                                    <div class="float-right">#{{dataResponses.id}}</div>
                                </h3>
                            </div>
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="panel panel-default">
                                <div class="p-2">
                                    <h3 class="panel-title font-20"><strong>
                                        Detail Laba Rugi Invoice</strong></h3>
                                </div>
                                <div class="">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <td><strong>Barang</strong></td>
                                                <td class="text-center"><strong>Banyak</strong>
                                                <td class="text-right"><strong>Harga Pokok</strong></td>
                                                <td class="text-right"><strong>Total Harga Pokok</strong></td>
                                                <td class="text-right"><strong>Harga Barang</strong></td>
                                                <td class="text-right"><strong>Total Harga Barang</strong></td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="item in dataResponses.detil">
                                                <td>{{item.idItem}}</td>
                                                <td class="text-center">{{item.banyakItem}}</td>
                                                <td class="text-right">{{convertToRupiah(item.hargaPokokItem)}}</td>
                                                <td class="text-right">{{convertToRupiah(item.totalHargaPokokItem)}}</td>
                                                <td class="text-right">{{convertToRupiah(item.hargaItem)}}</td>
                                                <td class="text-right">{{convertToRupiah(item.totalItem)}}</td>
                                            </tr>
                                            <tr>
                                                <td class="no-line"></td>
                                                <td class="no-line"></td>
                                                <td class="no-line"><strong>Grand Total</strong></td>
                                                <td class="no-line text-right"><h6 class="m-0">{{convertToRupiah(dataResponses.grandTotalPokok)}}</h6></td>
                                                <td class="no-line"></td>
                                                <td class="no-line text-right"><h6 class="m-0">{{convertToRupiah(dataResponses.grandTotal)}}</h6></td>
                                            </tr>
                                            <tr>
                                                <td class="no-line"></td>
                                                <td class="no-line"></td>
                                                <td class="no-line"><strong>Selisih Harga</strong></td>
                                                <td class="no-line text-center"></td>
                                                <td class="no-line"></td>
                                                <td class="no-line text-right"><h4 class="m-0">{{convertToRupiah(dataResponses.selisihHarga)}}</h4></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                            </div>

                        </div>
                    </div> <!-- end row -->

                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->  

</div>


<script>
    const apiUrl = '<%=process.env.URL%>'
    var app = new Vue({
     el: '#app',
     data: {
         id:'',
         dataResponses:{}
     },
     async created() {
        this.id = JSON.parse('<%-data%>')
        await this.getData(this.id)
     },
     methods : {
        getData: async function(id) {
            try{
                const res = await axios.post(apiUrl+'labarugi/detil/'+id)
                this.dataResponses = res.data[0]
                console.log(this.dataResponses)
            }catch(err){
                alert("Get data"+' '+err)
            }
        },
        convertToRupiah: function (val) {
            let minus = false
            if (val < 0) {
                minus = true
                val = Math.abs(val)
            }
            var txtNumber = parseFloat(val)
            var txtString = txtNumber.toString()
            var sisa = txtString.length % 3
            var rupiah = txtString.substr(0, sisa)
            var ribuan = txtString.substr(sisa).match(/\d{3}/g)
            if (ribuan) {
                var separator = sisa ? ',' : ''
                rupiah += separator + ribuan.join(',')
            }
            if(minus ==  true){
                return '- ' + rupiah
            }else{
                return rupiah
            }
        }
     }
})
</script>
