<div class="container-fluid" id="app">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title"><i class="icon-agenda"></i> <%= title %></h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Yogi</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end page-title -->

    <!-- START ROW -->
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-heading p-4">
                <div class="mini-stat-icon float-right">
                    <i class="mdi mdi-calculator bg-secondary  text-white"></i>
                </div>
                <div>
                    <p class="font-16">Total Laba</p>
                </div>
                <h5 class="mt-4">Rp.{{convertToRupiah(totalLaba)}}</h5>
            </div>
        </div>
    </div>
    <!-- END ROW -->

    <!-- START ROW -->
    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">

                    <h4 class="mt-0 header-title">Data Laba-Rugi</h4>
                    
                    <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                        <tr>
                            <th>Tanggal</th>
                            <th>No Invoice</th>                  
                            <th>Selisih Harga</th>
                        </tr>
                        </thead>


                        <tbody>
                        <tr v-for="dataResponse in dataResponses" :key="dataResponse"> 
                            <td>{{dataResponse.tanggal}}</td>
                            <td class="clicked"><a @click="detil(dataResponse.id)">{{dataResponse.id}}</a></td>
                            <td>Rp.{{convertToRupiah(dataResponse.selisihHarga)}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- end col -->
    </div> 
    <!-- END ROW -->

</div>


<script>
    const apiUrl = '<%= process.env.URL %>'
     var app = new Vue({
      el: '#app',
      data: {
          dataResponses : {},
          totalLaba: 0,
      },
      async created() {
        await this.getData()
        await this.countTotalLaba()
      },
      methods:{
        detil: function(id){
             location.href = "/labarugi/detil/"+id
         },
         getData: async function() {
             try{
                 const res = await axios.post(apiUrl+'labarugi')
                 this.dataResponses = res.data
                 console.log(this.dataResponses)
             }catch(err){
                 alert("Get data"+' '+err)
             }
         },
         convertToRupiah: function (val) {
             var txtNumber = parseFloat(val)
             var txtString = txtNumber.toString()
             var sisa = txtString.length % 3
             var rupiah = txtString.substr(0, sisa)
             var ribuan = txtString.substr(sisa).match(/\d{3}/g)
             if (ribuan) {
                 var separator = sisa ? ',' : ''
                 rupiah += separator + ribuan.join(',')
             }
             return rupiah
         },
         countTotalLaba: async function(){
            let totalLaba = 0
            this.dataResponses.forEach((item)=>{
                totalLaba += item.selisihHarga
            })
            this.totalLaba = totalLaba
         },
         alertSuccess: function (message){
             swal({
                 title:"",
                 text:message, 
                 icon:"success",
                 buttons:false});
         }
      }
 })    
 </script>

<style>
    body { background-color: #fafafa; }
    .bootstrap-datetimepicker-widget table td.cw {
        color: #007bff;
    }
</style>





    