<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title"><i class="icon-arrow-up"></i> <%= title %></h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Yogi</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end page-title -->

    <!-- START button-->
    <div class="row">
        <div class="col py-3 text-right">
          <button type="button" class="btn btn-primary waves-effect waves-light"  onclick="tambah()"><i class="mdi mdi-plus align-middle mr-2"></i>Tambah Pembelian</button>
        </div>
    </div>
    <!-- end button -->

    <!-- START ROW -->
    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">

                    <h4 class="mt-0 header-title">Data Pembelian</h4>
                    
                    <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                        <tr>
                            <th>Tanggal</th>
                            <th>No</th>
                            <th>Jenis</th>
                            <th>Nama Item</th>
                            <th>Banyak</th>
                            <th>Nominal (Rp)</th>
                            <th>Status Bayar</th>
                            <th>Action</th>
                        </tr>
                        </thead>


                        <tbody>
                        <tr>
                           
                            <td>25/02/2020</td>
                            <td><a onclick="detil('1A-2020020001')" style="color:#2980b9">1A-2020020001</a></td>
                            <td>Bahan Baku</td>
                            <td>Bahan satu</td>
                            <td>300</td>
                            <td>6,320,000</td>
                            <td style="color: #6ec06e;">Lunas</td>
                            <td>
                                <button type="button" onclick="edit('1A-2020020001')"  class="btn btn-light waves-effect"><i class="icon-pencil"></i></button>
                                <button type="button" class="btn btn-light waves-effect"><i class="icon-delete"></i></button>
                            </td>
                        </tr>
                        <tr>
                            
                            <td>26/02/2020</td>
                            <td><a onclick="detil('1A-2020020002')"style="color:#2980b9">1A-2020020002</a></td>
                            <td>Inventory</td>
                            <td>Laptop</td>
                            <td>3</td>
                            <td>3,000,000</td>
                            <td style="color: #f2ca27;">Bayar Sebagian</td>
                            <td>
                                <button type="button" onclick="edit('1A-2020020002')" class="btn btn-light waves-effect"><i class="icon-pencil"></i></button>
                                <button type="button" class="btn btn-light waves-effect"><i class="icon-delete"></i></button>
                            </td>
                        </tr>
                        <tr>
                            
                            <td>26/02/2020</td>
                            <td><a onclick="detil('1A-2020020003')" style="color:#2980b9">1A-2020020003</a></td>
                            <td>Upah</td>
                            <td>Upah Jahit</td>
                            <td>3</td>
                            <td>2,050,000</td>
                            <td style="color: #ea6153;">Hutang</td>
                            <td>
                                <button type="button" onclick="edit('1A-2020020003')" class="btn btn-light waves-effect"><i class="icon-pencil"></i></button>
                                <button type="button" class="btn btn-light waves-effect"><i class="icon-delete"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- end col -->
    </div> 
    <!-- END ROW -->

</div>

<script>
    function tambah(){
        location.href = "/pengeluaran/pembelian/tambah";
    }

    function edit(id){
        if(id=="1A-2020020001"){
            location.href = "/pengeluaran/pembelian/edit/"+id+"?id=1A-2020020001&tgl=25/02/2020&jenis=bahan baku&nama=bahan satu&ket=keterangan bahan baku&jml=300&nom=6,320,000&status=Lunas&jenisbb=kaos&supl=suplier 1";
        }else if(id=="1A-2020020002"){
            location.href = "/pengeluaran/pembelian/edit/"+id+"?id=1A-2020020002&tgl=26/02/2020&jenis=inventori&nama=laptop&ket=-&jml=3&nom=3,000,000&status=Bayar sebagian&nomhutang=2,000,000&nomlunas=1,000,000&nilaip=25%";
        }else if(id=="1A-2020020003"){
            location.href = "/pengeluaran/pembelian/edit/"+id+"?id=1A-2020020003&tgl=27/02/2020&jenis=upah&nama=upah jahit&ket=upah 3 orang&jml=3&nom=2,050,000&status=Hutang";
        }   
    }

    function detil(id){
        if(id=="1A-2020020001"){
            location.href = "/pengeluaran/pembelian/detil/"+id+"?id=1A-2020020001&tgl=25/02/2020&jenis=bahan baku&nama=bahan satu&ket=keterangan bahan baku&jml=300&nom=6,320,000&status=Lunas&jenisbb=kaos&supl=suplier 1";
        }else if(id=="1A-2020020002"){
            location.href = "/pengeluaran/pembelian/detil/"+id+"?id=1A-2020020002&tgl=26/02/2020&jenis=inventori&nama=laptop&ket=-&jml=3&nom=3,000,000&status=Bayar sebagian";
        }else if(id=="1A-2020020003"){
            location.href = "/pengeluaran/pembelian/detil/"+id+"?id=1A-2020020003&tgl=27/02/2020&jenis=upah&nama=upah jahit&ket=upah 3 orang&jml=3&nom=2,050,000&status=Hutang";
        }
        
    //     $.ajax({
    //       crossDomain: true,            
    //       dataType: 'json',
    //       url:url,
    //       type:'GET',
    //       cache       : false,
    //       contentType : false,
    //       processData : false,
    //       success:function(response){
    //         location.href = url
    //       }
    //   })
    }
</script>