<div class="container-fluid"  id="app">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title"><i class="mdi mdi-tshirt-crew"></i> <%= title %></h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Yogi</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end page-title -->

    <!-- START ROW -->
    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">

                    <h4 class="mt-0 mb-4 header-title">Input data barang jadi</h4>
                    
                    <div class="form-group row">
                        <label for="example-date-input" class="col-sm-2 col-form-label">Tanggal</label>
                        <div class="col-auto">
                            <div class="input-group">
                                <vuejs-datepicker  v-model="data.tanggal" @input="convertDataTanggal" :format="customFormatter"></vuejs-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-sm-2 col-form-label">Nama Item</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" v-model="data.nama" id="example-search-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2 col-form-label">Pilih Data Jahit</label>
                        <div class="col-sm-10">
                            <multiselect  v-model="data.item" :options="options"  :close-on-select="true" :clear-on-select="false" :preserve-search="true" placeholder="" :custom-label="customItemName" label="id" track-by="id">
                                <template slot="singleLabel" slot-scope="{ values, search, isOpen }"></template>
                            </multiselect>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-sm-2 col-form-label">Banyak (pcs)</label>
                        <div class="col-sm-10">
                            <input disabled class="form-control" type="number" v-model="data.jumlah" id="example-search-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-sm-2 col-form-label">Harga Barang Setelah Dijahit /Pcs (Rp)</label>
                        <div class="col-sm-10">
                            <input  disabled class="form-control" type="text" v-model="hargaSetelahJahit" id="example-search-input">
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2 col-form-label">Biaya Tambahan Produksi (Rp)</label>
                    </div>
                    <div>
                        <div class="form-group row">
                            <label for="example-search-input" class="col-sm-2 col-form-label font-weight-normal">Tie Dye</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" v-model="tieDye" id="example-search-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-search-input" class="col-sm-2 col-form-label font-weight-normal">Packing</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" v-model="packing" id="example-search-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-search-input" class="col-sm-2 col-form-label font-weight-normal">Dll</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" v-model="dllProduksi" id="example-search-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-search-input" class="col-sm-2 col-form-label">Total Biaya Tambahan Produksi (Rp)</label>
                            <div class="col-sm-6">
                                <input disabled class="form-control" type="text" v-model="totalBiayaTambahanProduksi" id="example-search-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-sm-2 col-form-label">Biaya Tambahan Aksesoris (Rp)</label>
                        </div>
                        <div class="form-group row">
                            <label for="example-search-input" class="col-sm-2 col-form-label font-weight-normal">Label</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" v-model="label" id="example-search-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-search-input" class="col-sm-2 col-form-label font-weight-normal">Hand Tag</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" v-model="handtag" id="example-search-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-search-input" class="col-sm-2 col-form-label font-weight-normal">Dll</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" v-model="dllAksesoris" id="example-search-input">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-sm-2 col-form-label">Total Biaya Tambahan Aksesoris (Rp)</label>
                        <div class="col-sm-6">
                            <input disabled class="form-control" type="text" v-model="totalBiayaTambahanAksesoris" id="example-search-input">
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-sm-2 col-form-label">Total Biaya Tambahan (Rp)</label>
                        <div class="col-sm-10">
                            <input disabled class="form-control" type="text" v-model="totalBiayaTambahan" id="example-search-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-sm-2 col-form-label">Harga Pokok (Rp)</label>
                        <div class="col-sm-10">
                            <input disabled class="form-control" type="text" v-model="hargaPokok" id="example-search-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-sm-2 col-form-label">Harga Barang/Pcs (Rp)</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" v-model="hargaPerPcs" id="example-search-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2 col-form-label">Keterangan</label>
                        <div  class="col-sm-10">
                            <textarea required class="form-control" rows="3" v-model="data.ket"></textarea>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <div>
                            <button  :disabled="isButtonDisable" @click="checkValidation()" type="submit" class="btn btn-primary waves-effect waves-light">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
    <!-- END ROW -->


     <!--  Modal content for the above example -->
     <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="myLargeModalLabel"></h5>Biaya Tambahan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="example-search-input" class="col-sm-2 col-form-label">Tie Dye</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" value="" id="example-search-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-sm-2 col-form-label">Label</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" value="" id="example-search-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-sm-2 col-form-label">Hand Tag</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" value="" id="example-search-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-sm-2 col-form-label">Packing</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" value="" id="example-search-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-sm-2 col-form-label">Dll</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" value="" id="example-search-input">
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>

<script>
    const apiUrl = '<%=process.env.URL%>'
    var app = new Vue({
     el: '#app',
     components: {
            vuejsDatepicker, Multiselect: window.VueMultiselect.default
    },
     data: {
         data:{
            tanggal:'',
            nama:'testes',
            item: [],
            biayaTambahan: 
                {
                    tieDye: 0,
                    label: 0,
                    handtag: 0,
                    packing: 0,
                    dllProduksi: 0,
                    dllAksesoris: 0,
                },
            hargaPerPcs:'',
            hargaPokok:'',
            jumlah:'',
            ket:'',
            jenisItem:'',
            tglSekarang:moment().format('YYYY-MM-DD'),
            userAkun:'',
            grandTotalBiayaTambahanProduksi:''
         },
         tieDye: 0,
         label: 0,
         handtag: 0,
         packing: 0,
         dllProduksi: 0,
         dllAksesoris: 0,
         hargaSetelahJahit:'',
         totalBiayaTambahan:'',
         totalBiayaTambahanProduksi:'',
         totalBiayaTambahanAksesoris:'',
         options: [],
         hargaPerPcs: '',
         hargaPokok: '',
         dataProductTypes:{},
         isButtonDisable: false
     },
     async created(){
        await this.getDataItem()
     },
     watch: {
        'data.item' : function (val){
            this.getTotalItem()
            
        },
        tieDye : function (val){
            if (this.tieDye != ""){
                this.tieDye  = this.convertFloatToRupiah(val.toString())
                this.data.biayaTambahan.tieDye = this.convertRupiahToFloat(this.tieDye)
            }else{
                this.tieDye = 0
                this.data.biayaTambahan.tieDye =  0
            }

            this.sumTotalBiayaTambahanProduksi()
            this.sumTotalBiayaTambahan()
        },
        label : function (val){
            if (this.label != ""){
                this.label  = this.convertFloatToRupiah(val.toString())
                this.data.biayaTambahan.label = this.convertRupiahToFloat(this.label)
            }else{
                this.label = 0
                this.data.biayaTambahan.label = 0
            }

            this.sumTotalBiayaTambahanAksesoris()
            this.sumTotalBiayaTambahan()
        },
        handtag : function (val){
            if (this.handtag != ""){
                this.handtag  = this.convertFloatToRupiah(val.toString())
                this.data.biayaTambahan.handtag = this.convertRupiahToFloat(this.handtag)
            }else{
                this.handtag = 0
                this.data.biayaTambahan.handtag = 0
            }

            this.sumTotalBiayaTambahanAksesoris()
            this.sumTotalBiayaTambahan()
        },
        packing : function (val){
            if (this.packing != ""){
                this.packing  = this.convertFloatToRupiah(val.toString())
                this.data.biayaTambahan.packing = this.convertRupiahToFloat(this.packing)
            }else{
                this.packing = 0
                this.data.biayaTambahan.packing = 0
            }

            this.sumTotalBiayaTambahanProduksi()
            this.sumTotalBiayaTambahan()
        },
        dllProduksi : function (val){
            if (this.dllProduksi != ""){
                this.dllProduksi  = this.convertFloatToRupiah(val.toString())
                this.data.biayaTambahan.dllProduksi = this.convertRupiahToFloat(this.dllProduksi)
            }else{
                this.dllProduksi = 0
                this.data.biayaTambahan.dllProduksi = 0
            }

            this.sumTotalBiayaTambahanProduksi()
            this.sumTotalBiayaTambahan()
        },
        dllAksesoris : function (val){
            if (this.dllAksesoris != ""){
                this.dllAksesoris  = this.convertFloatToRupiah(val.toString())
                this.data.biayaTambahan.dllAksesoris = this.convertRupiahToFloat(this.dllAksesoris)
            }else{
                this.dllAksesoris = 0
                this.data.biayaTambahan.dllAksesoris = 0
            }

            this.sumTotalBiayaTambahanAksesoris()
            this.sumTotalBiayaTambahan()
        },
        totalBiayaTambahanProduksi : function (val){
            if (this.totalBiayaTambahanProduksi != ""){
                this.totalBiayaTambahanProduksi  = this.convertFloatToRupiah(val.toString())
                if ( this.data.jumlah != ""){
                    this.hargaPokok = this.convertRupiahToFloat(this.totalBiayaTambahanProduksi)  + this.convertRupiahToFloat(this.hargaSetelahJahit)
                    this.calculateGrandTotalBiayaTambahanProduksi()
                }
            }else{
                this.totalBiayaTambahanProduksi = 0
                this.data.grandTotalBiayaTambahanProduksi = 0
                if ( this.data.jumlah != ""){
                  this.hargaPokok  = this.convertRupiahToFloat(this.hargaSetelahJahit)
                }
            }
        },
        totalBiayaTambahanAksesoris : function (val){
            if (this.totalBiayaTambahanAksesoris != ""){
                this.totalBiayaTambahanAksesoris  = this.convertFloatToRupiah(val.toString())
                if ( this.data.jumlah != ""){
                    this.hargaPokok = this.convertRupiahToFloat(this.totalBiayaTambahanAksesoris)  + this.convertRupiahToFloat(this.hargaSetelahJahit)
                }
            }else{
                this.totalBiayaTambahanAksesoris = 0
                if ( this.data.jumlah != ""){
                  this.hargaPokok  = this.convertRupiahToFloat(this.hargaSetelahJahit)
                }
            }
        },
        totalBiayaTambahan : function (val){
            if (this.totalBiayaTambahan != ""){
                this.totalBiayaTambahan  = this.convertFloatToRupiah(val.toString())
                if ( this.data.jumlah != ""){
                    this.hargaPokok = this.convertRupiahToFloat(this.totalBiayaTambahan)  + this.convertRupiahToFloat(this.hargaSetelahJahit)
                }
            }else{
                this.totalBiayaTambahan = 0
                if ( this.data.jumlah != ""){
                  this.hargaPokok  = this.convertRupiahToFloat(this.hargaSetelahJahit)
                }
            }
        },
        hargaSetelahJahit : function (val){
            if (this.hargaSetelahJahit != ""){
                this.hargaSetelahJahit  = this.convertFloatToRupiah(val.toString())
                
                if (this.data.item != null) {
                    if(this.totalBiayaTambahan != "" || this.totalBiayaTambahan != 0){
                        this.hargaPokok  = this.convertRupiahToFloat(this.totalBiayaTambahan) + this.convertRupiahToFloat(this.hargaSetelahJahit)
                    } else {
                        this.hargaPokok  = this.convertRupiahToFloat(this.hargaSetelahJahit)
                    }   
                }

            } else {
                if (this.data.item == null) {
                    this.hargaPokok  = ""
                }
            }
        },
        hargaPokok : function (val){
            if (this.hargaPokok != ""){
                this.hargaPokok  = this.convertFloatToRupiah(val.toString())
                this.data.hargaPokok = this.convertRupiahToFloat(this.hargaPokok)
            }else{
                this.data.hargaPokok = ""
            }
        },
        hargaPerPcs : function (val){
            if (this.hargaPerPcs != ""){
                this.hargaPerPcs  = this.convertFloatToRupiah(val.toString())
                this.data.hargaPerPcs = this.convertRupiahToFloat(this.hargaPerPcs)
            }else{
                this.data.hargaPerPcs = ""
            }
        }
     },
     methods:{
        actTambah: async function() {
            try{
                this.setDisableButton()
                var data = this.data
                console.log(data)
                let res = await axios.post(apiUrl+'dataproduksi/barangjadi/tambah', { data:data })
                if (res.data.success){
                    this.setEnableButton()
                    this.alertSuccess(res.data.msg)
                    setTimeout(function(){ window.location.href =apiUrl + 'dataproduksi/barangjadi/'; }, 1000);
                }
            }catch(err){
                alert("Add data"+' '+err)
                this.setEnableButton()
            }
        },
        customFormatter(date) {
            return moment(date).format("DD/MM/YYYY");
        },
        getDataItem: async function() {
            try{
                 const res = await axios.post(apiUrl+'dataproduksi/jahit')
                 this.options= res.data
             }catch(err){
                 alert("Get data Item "+' '+err)
             }
        },
        checkValidation: async function(){
            var validate = false
            if (this.data.tanggal == "" || this.data.nama == "" || this.data.item == null
            || this.data.jumlah == ""  || this.data.ket == ""   || this.data.hargaPokok == "" 
            || this.data.hargaPerPcs == "" || this.data.grandTotalBiayaTambahanProduksi == "" ) {
                validate = false
            } else {
                validate = true
            }

            if(validate){
                this.alertAdd()
            }else{
                alert("Harap isi semua field")
            }
        },
        convertFloatToRupiah: function(val) {

            var txtNumber = parseFloat(val.replace(/,/g, ''))
            var txtString = txtNumber.toString()
            var sisa = txtString.length % 3
            var rupiah = txtString.substr(0, sisa)
            var ribuan = txtString.substr(sisa).match(/\d{3}/g)
            if (ribuan) {
                var separator = sisa ? ',' : ''
                rupiah += separator + ribuan.join(',')
            }
            return rupiah
        },
        convertRupiahToFloat: function(val){
            var txtNumber = parseFloat(val.replace(/,/g, ''))
            return txtNumber
        },
        convertDataTanggal: function(val){
            var convert = moment(val).format("YYYY-MM-DD")
            this.data.tanggal = convert
        },
        alertAdd:  function (data) {
             swal({
                title: "Anda yakin ingin menambah data?",
                text: "Pastikan data yang anda masukkan benar",
                icon: "warning",
                buttons: ["batal", "tambah"],
                dangerMode: false,
                })
                .then((willAdd) => {
                if (willAdd) {
                     this.actTambah(data)
                }
            });
        },
        alertSuccess: function (message){
            swal({
                title:"",
                text:message, 
                icon:"success",
                buttons:false});
        },
        setEnableButton: function(){
            this.isButtonDisable = false
        },
        setDisableButton: function(){
            this.isButtonDisable = true
        },
        customItemName ({ id, tanggal, totalJumlah}) {
            return `${id} — [${tanggal}, ${totalJumlah}]`
        },
        getTotalItem: function(){
            if(this.data.item != null){
                var item = this.data.item
                this.data.jumlah =  item.totalJumlah
                const totalBiaya = item.totalBiaya ? parseInt(item.totalBiaya) : 0
                const upah = item.upah ? parseInt(item.upah) : 0
                this.hargaSetelahJahit = totalBiaya  + upah
            }else{
                this.data.jumlah = ''
                this.hargaSetelahJahit = ''
            }
        },
        sumTotalBiayaTambahanProduksi(){
            this.totalBiayaTambahanProduksi = parseInt(this.data.biayaTambahan.tieDye)  + parseInt(this.data.biayaTambahan.packing) + parseInt(this.data.biayaTambahan.dllProduksi)   
        },
        sumTotalBiayaTambahanAksesoris(){
            this.totalBiayaTambahanAksesoris = parseInt(this.data.biayaTambahan.label) + parseInt(this.data.biayaTambahan.handtag) +  parseInt(this.data.biayaTambahan.dllAksesoris)
        },
        sumTotalBiayaTambahan(){
            this.totalBiayaTambahan = parseInt(this.data.biayaTambahan.tieDye) + parseInt(this.data.biayaTambahan.label) + parseInt(this.data.biayaTambahan.handtag) + parseInt(this.data.biayaTambahan.packing) + parseInt(this.data.biayaTambahan.dllAksesoris) + parseInt(this.data.biayaTambahan.dllProduksi)   
        },
        calculateGrandTotalBiayaTambahanProduksi(){
            this.data.grandTotalBiayaTambahanProduksi =  parseInt(this.convertRupiahToFloat(this.totalBiayaTambahanProduksi)) * parseInt(this.data.jumlah)
        }
     }
})
 </script>