<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title"><i class="mdi mdi-tshirt-crew"></i> <%= title %></h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Yogi</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end page-title -->

    <!-- START button-->
    <div class="row">
        <div class="col py-3 text-right">
          <button type="button" class="btn btn-primary waves-effect waves-light"  onclick="tambah()"><i class="mdi mdi-plus align-middle mr-2"></i>Tambah barang jadi</button>
        </div>
    </div>
    <!-- end button -->
 

    <!-- START ROW -->
    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">

                    <h4 class="mt-0 header-title">Data barang jadi</h4>
                    
                    <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                        <tr>
                            <th>Pekan</th>
                            <th>No</th>      
                            <th>Nama Item</th>               
                            <th>Banyak (pcs)</th>
                            <th>Harga Pokok (Rp)</th>
                            <th>Harga Barang/pcs (Rp)</th>
                            <th>Sub Item</th>
                            <th>Action</th>
                        </tr>
                        </thead>


                        <tbody>
                        <tr> 
                            <td>Minggu 11,2020</td>
                            <td><a onclick="detil('3D-2020020001')" style="color:#2980b9">3D-2020020001</a></td>
                            <td>Kaos</td>   
                            <td>150</td>
                            <td>60,000</td>
                            <td>80,000</td>
                            <td><a onclick="detilsub('3C-2020020001')" style="color:#2980b9">3C-2020020001</a></td>
                            <td>
                                <button type="button" onclick="edit('3D-2020020001')"  class="btn btn-light waves-effect"><i class="icon-pencil"></i></button>
                                <button type="button" class="btn btn-light waves-effect"><i class="icon-delete"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- end col -->
    </div> 
    <!-- END ROW -->

</div>

<script>
    function tambah(){
        location.href = "/dataproduksi/barangjadi/tambah";
    }

    function edit(id){
        if(id=="3D-2020020001"){
            location.href = "/dataproduksi/barangjadi/edit/"+id+"?id=3D-2020020001&tgl=2020-W11&jml=150&hargapokok=6,000,000&hargabrgpcs=40,000&sub=3C-2020020001&nama=kaos";
        }
    }

    function detil(id){
        if(id=="3D-2020020001"){
            location.href = "/dataproduksi/barangjadi/detil/"+id+"?id=3D-2020020001&tgl=minggu 11,2020&jml=150&hargapokok=6,000,000&hargabrgpcs=40,000&sub=3C-2020020001&nama=kaos"
        }
    }

    function detilsub(id){
        if(id=="3C-2020020001"){
            location.href = "/dataproduksi/jahit/detil/"+id+"?id=3C-2020020001&tgl=minggu 10,2020&jml=150&totbiaya=4,750,000&upahpcs=5,000&totupah=750,000&hargapcs=36,700&subitem=3A-2020020001,3A-2020020002&ket=-&jenis=cutting&totupahming=2,250,000&&sub=3A-2020020001,3A-2020020002";
        }
    }
</script>


<style>
    body { background-color: #fafafa; }
    .bootstrap-datetimepicker-widget table td.cw {
        color: #007bff;
    }
</style>





