     <div class="left side-menu">
          <div class="slimscroll-menu" id="remove-scroll">

              <!--- Sidemenu -->
              <div id="sidebar-menu">
                  <!-- Left Menu Start -->
                  <ul class="metismenu" id="side-menu">
                      <li class="menu-title">Menu</li>
                      <li>
                          <a onclick="location.href='/pengeluaran'" class="waves-effect">
                              <i class="icon-accelerator"></i><span> Dashboard </span>
                          </a>
                      </li>

                      <li>
                          <a href="javascript:void(0);" class="waves-effect"><i class="icon-arrow-up"></i><span> Pengeluaran <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                          <ul class="submenu">
                              <li><a onclick="location.href='/pengeluaran'">Pembelian</a></li>
                              <li><a onclick="location.href='/pengeluaran/beban'">Beban</a></li>
                              <li><a onclick="location.href='/pengeluaran/pembayaran'">Pembayaran</a></li>
                          </ul>
                      </li>

                      <li>
                          <a onclick="location.href='/pemasukan'" class="waves-effect"><i class="icon-arrow-down"></i><span> Pemasukan </span></a>
                      </li>

                      <li>
                          <a href="javascript:void(0);" class="waves-effect"><i class="icon-website-2"></i><span> Data Produksi <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                          <ul class="submenu">
                            <li><a onclick="location.href='/dataproduksi'">Beranda</a></li>
                              <li><a onclick="location.href='/dataproduksi/cutting'">Cutting</a></li>
                              <li><a onclick="location.href='/dataproduksi/sablon'">Sablon</a></li>
                              <li><a onclick="location.href='/dataproduksi/jahit'">Jahit</a></li>
                              <li><a onclick="location.href='/dataproduksi/barangjadi'">Barang Jadi</a></li>
                          </ul>
                      </li>

                      <li>
                          <a onclick="location.href='/invoice'" class="waves-effect"><i class="icon-paper-sheet"></i> <span> Invoice</span> </a>
                      </li>

                      <li>
                          <a onclick="location.href='/labarugi'" class="waves-effect"><i class="icon-agenda"></i> <span> Laba/Rugi</span> </a>
                      </li>

                      <li>
                          <a href="javascript:void(0);" class="waves-effect"><i class="icon-spread"></i><span> Jurnal <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                          <ul class="submenu">
                              <li><a onclick="location.href='/jurnal/debit-kredit'">Debit/Kredit</a></li>
                              <li><a onclick="location.href='/jurnal/hutang-piutang'">Hutang/Piutang</a></li>
                          </ul>
                      </li>

                      <li>
                        <a onclick="location.href='/barangreturn'" class="waves-effect"><i class="icon-cloud-download"></i> <span> Barang Return</span> </a>
                    </li>

                      <li>
                        <a onclick="location.href='/bahanbaku'" class="waves-effect"><i class="icon-case"></i> <span> Bahan Baku</span> </a>
                    </li>

                    <li>
                        <a onclick="location.href='/barangsisa'" class="waves-effect"><i class="icon-cloud-upload"></i> <span> Barang Sisa</span> </a>
                    </li>

                    <li>
                        <a onclick="location.href='/client'" class="waves-effect"><i class="icon-profile-add"></i> <span> Client</span> </a>
                    </li>

                    <li>
                        <a onclick="location.href='/supplier'" class="waves-effect"><i class="icon-boat"></i> <span> Supplier</span> </a>
                    </li>

                      <li class="menu-title">Setting</li>

                      <li>
                          <a href="javascript:void(0);" class="waves-effect"><i class="icon-squares"></i> <span> Master Data <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span> </a>
                          <ul class="submenu">
                              <li><a href="ui-alerts.html">Master Bahan</a></li>
                              <li><a href="ui-badge.html">Master Jenis</a></li>
                              <li><a href="ui-buttons.html">Master Warna</a></li>
                              <li><a href="ui-buttons.html">Master Bahan Baku</a></li>
                          </ul>
                      </li>

                      <li>
                        <a href="javascript:void(0);" class="waves-effect"><i class="icon-setting-1"></i> <span> Setup Data <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span> </a>
                        <ul class="submenu">
                            <li><a href="ui-alerts.html">Setup Harga</a></li>
                            <li><a href="ui-alerts.html">Setup Harga Barang Return</a></li>
                            <li><a href="ui-alerts.html">Setup CSR</a></li>
                        </ul>
                    </li>

                      <li>
                          <a href="manajemen-user.html" class="waves-effect"><i class="icon-profile"></i> <span> Manajemen User</span> </a>
                      </li>
                  </ul>

              </div>
              <!-- Sidebar -->
              <div class="clearfix"></div>

          </div>
          <!-- Sidebar -left -->

      </div>
      <!-- Left Sidebar End -->