<div class="container-fluid" id="app">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title"><i class="icon-spread"></i> <%= title %></h4>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Yogi</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end page-title -->

    <!-- START ROW -->
    <div class="row">
        <div class="col-12">
            <div class="card m-b-30">
                <div class="card-body">


                    <div class="row mb-3 ">
                        <div class="col-sm-6">
                            <h4 class="mt-0 mb- header-title">Debit - Kredit</h4>
                        </div>
                      
                    </div>
                    <div class="row mb-2 text-right">
                        <div class="col-sm-6">
                            <div class="text-right">
                            <select v-model="filter" class="form-control form-control-sm pull-right">
                                <option value="1">harian</option>
                                <option value="2">bulanan</option>
                            </select></div>
                        </div>
                        <div class="col-sm-3">
                            <div v-if="filter == dailyFilter" class="input-group">
                                <input type="text" class="form-control" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
                                <div class="input-group-append bg-custom b-0"><span class="input-group-text"><i class="mdi mdi-calendar"></i></span></div>
                            </div>
                            <div v-if="filter == monthlyFilter" class="form-group ">
                                 <input class="form-control" type="month" id="month"/>
                              
                        </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="thead-default">
                                <tr>
                                    <th>Tgl</th>
                                    <th>Ket.</th>
                                    <th >Debit</th>
                                    <th >Kredit</th>
                                    <th >Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="dataResponse in dataResponses.data" :key="dataResponse.id">
                                    <td>{{dataResponse.tanggal}}</td>
                                    <td v-if="dataResponse.keterangan == 'kredit'" style="padding-left: 50px;">{{dataResponse.nama}} <span style="font-size: smaller;">{{dataResponse.id}}</span> </td>
                                    <td v-else>{{dataResponse.nama}} <span style="font-size: smaller;">{{dataResponse.id}}</span> </td>
                                    <td>{{dataResponse.keterangan == 'debit' ? convertToRupiah(dataResponse.nominal) : '-'}}</td>
                                    <td>{{dataResponse.keterangan == 'kredit' ? convertToRupiah(dataResponse.nominal) : '-'}}</td>  
                                    <td>{{convertToRupiah(dataResponse.saldo)}}</td>                              
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>Total</th>
                                    <th>{{convertToRupiah(dataResponses.totalDebit)}}</th>
                                    <th>{{convertToRupiah(dataResponses.totalKredit)}}</th>   
                                    <th>{{convertToRupiah(dataResponses.totalBalance)}}</th>    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  
                </div>
            </div>
        </div> <!-- end col -->
    </div>
    <!-- END ROW -->

</div>

<script>
    const apiUrl = '<%= process.env.URL %>'
    var app = new Vue({
     el: '#app',
     data: {
         dataResponses : {},
         filter:0,
         dailyFilter:1,
         weeklyFilter:2,
         monthlyFilter:3
     },
     async created() {
        await  this.getData()
     },
     methods:{
        getData: async function() {
            try{
                const res = await axios.post(apiUrl+'jurnal/debit-kredit')
                this.dataResponses = res.data[0]
                console.log(this.dataResponses)
            }catch(err){
                alert("Get data"+' '+err)
            }
        },
        convertToRupiah: function (val) {
            let minus = false
            if (val < 0) {
                minus = true
                val = Math.abs(val)
            }
            var txtNumber = parseFloat(val)
            var txtString = txtNumber.toString()
            var sisa = txtString.length % 3
            var rupiah = txtString.substr(0, sisa)
            var ribuan = txtString.substr(sisa).match(/\d{3}/g)
            if (ribuan) {
                var separator = sisa ? ',' : ''
                rupiah += separator + ribuan.join(',')
            }
            if(minus ==  true){
                return '- ' + rupiah
            }else{
                return rupiah
            }
        }
     }
     })
 </script>


<style>
    body { background-color: #fafafa; }
    .bootstrap-datetimepicker-widget table td.cw {
        color: #007bff;
    }
</style>